@media screen and (max-width: 800px) {
  .main {
    height: 220vh;
  }
  .forecast-container {
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 0px !important;
    gap: 0 !important;
  }
  .forecast,
  .today,
  .tommorow,
  .after {
    margin-top: 20px !important;
  }
   .input-group{
    justify-content: center;
   }
  .input-group button {
    right: 12%;
    width: 90px;
  }
  footer .input-group {
    width: 480px;
  }
  .footer-btn {
    top: 10px !important;
    width: 130px !important;
    text-align: left;
    font-size: 15px;
  }
}
